{
  "datacenter": "service1-west,
  "config-dir": "/Users/person/Coding/Consul/service/consul.d/",
  "data_dir": "/tmp/consul",
  "log_level": "INFO",
  "node_name": "agent-two",
  "server": false,
  "bind": "10.0.1.50",
  "join": "10.0.1.66",
  "retry-join": "10.0.1.66",
  "retry-interval": "10s",
  "ui": true
}
